<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl.mapper.PromotionAdMapper">
    <select id="selectAllPromotionAds" resultType="PromotionAd">
        select * from promotion_ad
    </select>

    <select id="selectPromotionAdById" parameterType="java.lang.Integer" resultType="PromotionAd">
        select * from promotion_ad where id = #{id}
    </select>

    <select id="selectPromotionAdsBySid" parameterType="java.lang.Integer" resultType="PromotionAd">
        select * from promotion_ad where space_id = #{spaceId};
    </select>
</mapper>
